
{% extends 'layout.html' %}

{% block title %}📊 Финансовый отчёт{% endblock %}

{% block content %}
<div class="content-card">
    <h1 class="welcome-title">📊 Финансовый отчёт</h1>

<!-- 🔍 Поиск по дате -->
<form method="get" action="{{ url_for('revision_index') }}" class="form-grid filter-section">
    <div class="form-group">
        <label for="snapshot_date">Дата:</label>
        <input type="date" id="snapshot_date" name="snapshot_date" value="{{ snapshot_date }}">
    </div>
    <div class="form-group">
        <label>&nbsp;</label>
        <button type="submit" class="button">🔍</button>
    </div>
    <div class="form-group ">
        <label>&nbsp;</label>
        <a href="{{ url_for('revision_index') }}" class="btn">↻</a>
    </div>
</form>

{% if stats %}
<div class="stats-grid">
    <div class="stat-card">
        <h3>Всего закупок:</h3>
        <p>{{ stats.total_purchases }} $</p>
    </div>
    <div class="stat-card">
        <h3>Всего продаж:</h3>
        <p>{{ stats.total_sales }} $</p>
    </div>
    <div class="stat-card">
        <h3>Прибыль:</h3>
        <p>{{ stats.total_profit }} $</p>
    </div>
</div>
{% elif from_date or to_date %}
    <p style="padding-top: 20px;">📭 Нет данных за выбранный период.</p>
{% endif %}



</div>
{% endblock %}
