{% extends 'layout.html' %}

{% block title %}Остатки на складе{% endblock %}

{% block content %}
<h1>Остатки на складе</h1>

<table border="1">
    <thead>
        <tr>
            <th>Товар</th>
            <th>Категория</th>
            <th>Количество</th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
        <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.category_name }}</td>
            <td>{{ item.quantity }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}